<div class="footer bg-white rounded p-3 mt-4">
  <div class="flex flex-row items-center justify-between">
    <div class="text-xs text-gray-400">
      <i class="fa fa-copyright"></i> {{ site.title }} {{ site.time | date: '%Y' }} <span class="mx-2">|</span> Created by <a href="http://huangxuan.me">{{ site.title }}</a> with ❤️
    </div>
    <div class="">
      <a href="https://github.com/menlain" target="_blank"><i class="fa fa-github"></i></a>
      <a href="mailto:mzzmliang@gmail.com" target="_blank" class="ml-2"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>