<div class="flex py-8 flex-row gap-4 justify-center items-center">
    <a href="{{ site.baseurl }}/" class="inline-block px-3 py-2 rounded bg-green-100 hover:bg-green-500 hover:text-white text-sm">
      Home
    </a>
    {% for page in site.pages %}
    {% if page.title and page.hide-in-nav != true %}
    <a href="{{ page.url | prepend: site.baseurl }}" class="inline-block px-3 py-2 rounded bg-green-100 hover:bg-green-500 hover:text-white text-sm">
      {{ page.title }}
    </a>
    {% endif %}
    {% endfor %}
</div>
