<div class="bg-white relative p-2 mb-2 rounded animate__animated animate__zoomIn">
  <div class="flex flex-row items-center">
    <div class="avatar w-20">
      <img src="/assets/images/avatar.jpeg" alt="">
    </div>
    <div>
      <h1 class="text-xl font-bold tracking-widest">MENLAIN</h1>
      <p class="text-xs mt-1 text-gray-400"><i class="fa fa-map-marker"></i><span class="ml-1">HeNan,China</span></p>
      <a href="https://github.com/menlain" target="_blank">
        <div class="absolute px-3 py-1 rounded hover:bg-gray-300 right-0 top-0 bg-gray-100 text-xl text-black">
          <i class="fa fa-github"></i>
        </div>
      </a>
    </div>
  </div>
</div>